Django
djangorestframework
django-extensions
django-unfold
django-oauth-toolkit
django-filter
psycopg-binary
psycopg
django-environ
django-allauth[socialaccount]
gunicorn
django-cors-headers
Werkzeug
pyOpenSSL
simplejson

# Testing packages
pytest
pytest-django
pytest-cov
tox
black
flake8

# Development tools
pre-commit
djpro
