{% extends "base_generic.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/css/styles.css' %}">
{% endblock %}


{% block extra_js %}
    <script src="{% static 'web/js/toggleDropdown.js' %}"></script>
{% endblock %}

{% block title %}
    Catalog
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="cart-title">Catalog</h2>

    <div class="categories">
        {% for category in categories %}
            <div class="dropdown">
                <button class="dropdown-btn" onclick="toggleDropdown(this)">{{ category.name }}</button>
                <ul class="dropdown-content" style="display: none;">
                    {% for product in category.product_set.all %}
                        <li>
                            <a href="{% url 'product_detail' product.id %}" class="product-link">
                                {{ product.name }}
                            </a>
                        </li>
                    {% empty %}
                        <li>No products in this category</li>
                    {% endfor %}
                    <li>
                        <a href="{% url 'category_detail' category.id %}" class="product-link">View All</a>
                    </li>
                </ul>
            </div>
        {% empty %}
            <p>No categories available.</p>
        {% endfor %}
    </div>


</div>
{% endblock %}
